<div class="row">
	<div class="col-md-6">
		<h2>New Recipe</h2>

		<form name="newRecipe" validate ng-submit="vm.addRecipe()">
			<div class="form-group">
			  <label for="title">Recipe Name</label>
			  <input class="form-control" type="text" name="title" ng-model="vm.title" required>
			</div>

<!-- 			<div ng-messages="form.title.$error" ng-if="form.title.$touched">
        <div ng-message="required">Email is required!</div>
        <div ng-message="minlength">Must be more than 2 characters!</div>
      </div> -->

			<div class="form-group">
				<label for="category">Category</label>
			  <select class="form-control" name="category" ng-model="vm.category" ng-options="category.name for category in vm.categories" required></select>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
			  <input class="form-control" type="text" name="description" ng-model="vm.description" required>
			</div>
		
			<div class="form-group">
			  <label for="difficulty">Difficulty</label>
			  <input class="form-control" type="number" name="difficulty" ng-model="vm.difficulty" minLength="1" maxLength="5" required>
			  <small id="emailHelp" class="form-text text-muted">Enter a number between 1 and 5.</small>
			</div>
		
			<div class="form-group">
				<label for="time">Time to Make (Minutes)</label>
			  <input class="form-control" type="number" name="time" ng-model="vm.time" step="5" required>
			  <small id="emailHelp" class="form-text text-muted">Enter a number that is an increment of 5 minutes.</small>
			</div>

			<div class="form-group">
				<label for="servings">Servings</label>
			  <input class="form-control" type="number" name="servings" ng-model="vm.servings" required>
			</div>

			<div class="form-group">
			<!-- <div class="form-group" ng-repeat="ingredient in vm.ingredients"> -->
				<label for="ingredients">Ingredients</label>
			  <input class="form-control" type="text" ng-model="vm.ingredients[0]" required>
			  <input class="form-control" type="text" ng-model="vm.ingredients[1]">
			</div>

<!-- 			<fieldset ng-repeat="ingredient in vm.ingredients">     
	      <input type="text" ng-model="ingredient.value" name="" placeholder="Ingredient 1">
	     
	      <button class="remove" ng-show="$last" ng-click="removeIngredient()">-</button>
		   </fieldset>
		   <button class="btn btn-primary addfields" ng-click="addIngredient()">Add Ingredient</button> -->

			<input class="btn btn-primary" type="reset">

			<div ng-show="newRecipe.$valid">
				<input class="btn btn-primary" type="submit" value="Create Recipe">
			</div>
		</form>
	</div>

	<div class="col-md-6">
		<h2>Recipe Preview</h2>

		<h3>{{ vm.title }}</h3>
		<h4 ng-show="newRecipe.category.$valid">Category: {{ vm.category.name }}</h4>
		<p>{{ vm.description }}</p>

		<p ng-show="newRecipe.difficulty.$valid">Difficulty: {{ vm.difficulty }}</p>
		<p ng-show="newRecipe.time.$valid">Time: {{ vm.time }}</p>
		<p ng-show="newRecipe.servings.$valid">Servings: {{ vm.servings }}</p>

		<h4>Ingredients</h4>
		<ul>
			<li>{{ vm.ingredients }}</li>
		</ul>

		<pre>data = {{ vm | json }}</pre>
	</div>
</div>

<br>

<!-- <h1>{{ newRecipe.title }}</h1> -->