<h2>{{ vm.recipe.title }}</h2>
<p>by {{ vm.recipe.author.username }}</p>
<p>Category: {{ vm.recipe.category.name }}</p>
<p>{{ vm.recipe.description }}</p>

<p>Difficulty: {{ vm.recipe.difficulty }}</p>
<p>Time: {{ vm.recipe.time }}</p>
<p>Servings: {{ vm.recipe.servings }}</p>
<p>Added to favorites by {{ vm.recipe.favorited_users.length }} users</p>

<h3>Ingredients</h3>

<ul>
	<li ng-repeat="ingredient in vm.recipe.ingredients">
		{{ ingredient }}
	</li>
</ul>

<h3>Directions</h3>

<ol>
	<div ng-repeat="direction in vm.recipe.directions">
		<li>{{ direction }}</li>
	</div>
</ol>