<h2>All Recipes</h2>

<!-- Search bars -->

<div class="row">
	<div class="col-md-4">
		<form class="navbar-form" role="search">
		    <div class="input-group add-on">
		      <input class="form-control" placeholder="Search any" ng-model="vm.search.$" type="text">
		    </div>
		  </form>
	</div>

	<div class="col-md-4">
		<form class="navbar-form" role="search">
		    <div class="input-group add-on">
		      <input class="form-control" placeholder="Search by recipe name" ng-model="vm.search.title" type="text">
		    </div>
		  </form>
	</div>

	<div class="col-md-4">
		<form class="navbar-form" role="search">
		    <div class="input-group add-on">
		      <input class="form-control" placeholder="Search by ingredients" ng-model="vm.search.ingredients" type="text">
		    </div>
		  </form>
	</div>
</div>

<br>
<p ng-show="vm.loading">Loading...</p>

<!-- Recipes -->

<div class="card-columns">
	<div class="card card-block" ng-repeat="recipe in vm.recipes | filter: vm.search | orderBy: 'title'">
    <a href="#" ui-sref="home.recipe({id: recipe.id})"><h4 class="card-title">{{ recipe.title }}</h4></a>
    <p class="card-text">{{ recipe.category.name }}</p>
    <p class="card-text">{{ recipe.description }}</p>
    <p class="card-text"><small class="text-muted">Submitted by {{ recipe.author.username }}</small></p>

    <form novalidate ng-submit="vm.upvote(recipe)">
			<input class="btn btn-success btn-sm" type="submit" value="Upvote &#8679;">
			{{ recipe.upvotes }}
		</form>
    <!-- <button ng-click="vm.upvote(recipe)">Upvote</button> {{ recipe.counter }} -->
  </div>
</div>
