<div class="row">
	<div class="col-md-6">
		<h2>New Recipe</h2>

		<form name="newRecipe" novalidate ng-submit="vm.addRecipe()">
			
			<!-- title -->

			<div class="form-group">
			  <label for="title">Recipe Name</label>
			  <input class="form-control" type="text" name="title" ng-model="vm.title" required>
			</div>
			
			<div class="alert alert-danger" ng-show="newRecipe.title.$touched && newRecipe.title.$invalid">Recipe name is required.</div>

			<!-- category -->

			<div class="form-group">
				<label for="category">Category</label>
			  <select class="form-control" name="category" ng-model="vm.category" ng-options="category.name for category in vm.categories" required></select>
			</div>

			<div class="alert alert-danger" ng-show="newRecipe.category.$touched && newRecipe.category.$invalid">Category is required.</div>

			<!-- description -->

			<div class="form-group">
				<label for="description">Description</label>
			  <input class="form-control" type="text" name="description" ng-model="vm.description" required>
			</div>

			<div class="alert alert-danger" ng-show="newRecipe.description.$touched && newRecipe.description.$invalid">Description is required.</div>

			<!-- difficulty -->
		
			<div class="form-group">
			  <label for="difficulty">Difficulty</label>
			  <input class="form-control" type="number" name="difficulty" ng-model="vm.difficulty" min="1" max="5" required>
			  <small id="emailHelp" class="form-text text-muted">Enter a number between 1 and 5.</small>
			</div>

			<div ng-show="newRecipe.difficulty.$touched && newRecipe.difficulty.$invalid">
				<div class="alert alert-danger" ng-show="newRecipe.difficulty.$error.required">A difficulty level is required.</div>
				<div class="alert alert-danger" ng-show="newRecipe.difficulty.$error.max || newRecipe.difficulty.$error.min">Must be between 1 and 5.</div>
			</div>

			<!-- time -->

			<div class="form-group">
				<label for="time">Time to Make (Minutes)</label>
			  <input class="form-control" type="number" name="time" ng-model="vm.time" min="5" step="5" required>
			  <small id="emailHelp" class="form-text text-muted">Enter a number that is an increment of 5 minutes.</small>
			</div>

			<div ng-show="newRecipe.time.$touched && newRecipe.time.$invalid">
				<div class="alert alert-danger" ng-show="newRecipe.time.$error.required">Time is required.</div>
				<div class="alert alert-danger" ng-show="newRecipe.time.$error.min">Must be at least 5 minutes.</div>
			</div>

			<!-- servings -->

			<div class="form-group">
				<label for="servings">Servings</label>
			  <input class="form-control" type="number" name="servings" ng-model="vm.servings" required>
			</div>

			<div class="alert alert-danger" ng-show="newRecipe.servings.$touched && newRecipe.servings.$invalid">Servings is required.</div>

			<!-- ingredients -->
			
			<label for="ingredients">Ingredients</label>
			<small id="emailHelp" class="form-text text-muted">E.g., "1/3 cup" "milk"</small>

	  	<fieldset  data-ng-repeat="ingredient in vm.ingredients">
				<input type="text" ng-model="ingredient.quantity" name="" placeholder="Enter quantity">
				<input type="text" ng-model="ingredient.name" name="" placeholder="Enter ingredient">
				<button class="remove" type="button" ng-show="$last" ng-click="vm.removeIngredient()">-</button>
		  </fieldset>
		  <button class="addfields" type="button" ng-click="vm.addNewIngredient()">Add fields</button>
		       
		  <div id="choicesDisplay">
		      {{ vm.ingredients }}
		  </div>

			<!-- buttons -->

			<input class="btn btn-primary" type="reset">

			<div ng-show="newRecipe.$valid">
				<input class="btn btn-primary" type="submit" value="Create Recipe">
			</div>
		</form>
	</div>

	<div class="col-md-6">
		<h2>Recipe Preview</h2>

		<div class="jumbotron">
			<h3>{{ vm.title | titleize }}</h3>
			<p ng-show="newRecipe.title.$valid">by {{ currentUser.username }}</p>
			<h4 ng-show="newRecipe.category.$valid">Category: {{ vm.category.name }}</h4>
			
			<p>{{ vm.description }}</p>
			
			<p ng-show="newRecipe.difficulty.$valid">Difficulty: {{ vm.difficulty }}</p>
			<p ng-show="newRecipe.time.$valid">Time: {{ vm.time }}</p>
			<p ng-show="newRecipe.servings.$valid">Servings: {{ vm.servings }}</p>
		</div>

		<div class="jumbotron" ng-show="newRecipe.ingredients.$valid">
			<h4>Ingredients</h4>
			
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="ingredient in vm.ingredients">
					{{ ingredient }}
				</li>
			</ul>
		</div>

		<div class="jumbotron" ng-show="newRecipe.directions.$valid">
			<h4>Directions</h4>
			
			<ol class="list-group">
				<li class="list-group-item" ng-repeat="direction in vm.directions">
					{{ direction }}
				</li>
			</ol>
		</div>

		<pre>ingredients = {{ vm.ingredients | json }}</pre>
	</div>
</div>

<br>