<div class="jumbotron">
	<h3>{{ vm.recipe.title }}</h3>
	<p>by {{ vm.recipe.author.username }}</p>
	<h4>Category: {{ vm.recipe.category.name }}</h4>
	
	<p>{{ vm.recipe.description }}</p>
	
	<p>Difficulty: {{ vm.recipe.difficulty }}</p>
	<p>Time: {{ vm.recipe.time }}</p>
	<p>Servings: {{ vm.recipe.servings }}</p>
	<p>Added to favorites by {{ vm.recipe.favorited_users.length }} users</p>

	<form novalidate ng-submit="vm.addFavorite()" ng-hide="vm.stringify(vm.recipe.favorited_users).includes(vm.stringify(currentUser.email))" ng-show="isAuthenticated()">
		<input class="btn btn-danger" type="submit" value="Add to Favorites &#9825;">
	</form>

	<div ng-show="vm.stringify(vm.recipe.favorited_users).includes(vm.stringify(currentUser.email))">
		<button class="btn btn-success">Added to Favorites &#9829;</button>
	</div>

</div>

<div class="jumbotron">
	<h4>Ingredients</h4>
	
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="ingredient in vm.recipe.ingredients">
			{{ ingredient }}
		</li>
	</ul>
</div>

<div class="jumbotron">
	<h4>Directions</h4>
	
	<ol class="list-group">
		<li class="list-group-item" ng-repeat="direction in vm.recipe.directions">
			{{ direction }}
		</li>
	</ol>
</div>