<div class="jumbotron">
	<h3>{{ vm.recipe.title }}</h3>
	<p>by {{ vm.recipe.author.username }}</p>
		<form novalidate ng-submit="vm.upvote()">
			<input class="btn btn-success btn-sm" type="submit" value="Upvote &#8679;">
			{{ vm.recipe.upvotes }}
		</form>
	<br>
	<h4>Category: {{ vm.recipe.category.name }}</h4>
	
	<p>{{ vm.recipe.description }}</p>
	
	<p>Difficulty: {{ vm.recipe.difficulty }}</p>
	<p>Time: {{ vm.recipe.time }}</p>
	<p>Servings: {{ vm.recipe.servings }}</p>
	<p>Added to favorites by {{ vm.recipe.favorited_users.length }} users</p>

	<form novalidate ng-submit="vm.addFavorite()" ng-hide="vm.stringify(vm.recipe.favorited_users).includes(vm.stringify(currentUser.email))" ng-show="isAuthenticated()">
		<input class="btn btn-danger" type="submit" value="Add to Favorites &#9825;">
	</form>

	<div class="btn btn-success" ng-show="vm.stringify(vm.recipe.favorited_users).includes(vm.stringify(currentUser.email))">Added to Favorites &#9829;</div>

</div>

<div class="jumbotron">
	<h4>Ingredients</h4>
	
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="ingredient in vm.recipe.ingredients">
			{{ ingredient }}
		</li>
	</ul>
</div>

<div class="jumbotron">
	<h4>Directions</h4>
	
	<ol class="list-group">
		<li class="list-group-item" ng-repeat="direction in vm.recipe.directions">
			{{ direction }}
		</li>
	</ol>
</div>

<!-- New Notes Form -->

<div class="jumbotron">
	<h3>Comments <small>({{ vm.recipe.notes.length }} comments)</small></h3>

	<form name="createNote" novalidate ng-submit="vm.addNote()">
		<div class="form-group">
		  <input class="form-control" type="text" name="content" ng-model="vm.content" placeholder="Join the discussion..." required>
		</div>

		<input class="btn btn-primary" type="submit" value="Submit">
	</form>

	<hr>

	<div class="list-unstyled">
		<li class="media" ng-repeat="note in vm.recipe.notes">
			{{ note.content }}
			{{ note.created_at }}
			<hr>
		</li>
	</div>

</div>
<br>