<nav class="navbar navbar-light bg-faded">
  <ul class="nav navbar-nav row">
    <li class="nav-item active">
      <a class="nav-link" href="#" ui-sref="home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" ui-sref="home.recipes">Browse Recipes</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse by Category</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" ui-sref="home.category({id: 1})">Chinese</a>
        <a class="dropdown-item" ui-sref="home.category({id: 2})">French</a>
        <a class="dropdown-item" ui-sref="home.category({id: 3})">Italian</a>
        <a class="dropdown-item" ui-sref="home.category({id: 4})">Japanese</a>
        <a class="dropdown-item" ui-sref="home.category({id: 5})">Mexican</a>
        <a class="dropdown-item" ui-sref="home.category({id: 6})">Thai</a>
      </div>
    </li>

    <div ng-show="isAuthenticated()" class="float-xs-right">
      <li class="nav-item nav-link">Hi, {{currentUser.username}}</li>
      <li class="nav-item">
        <a class="nav-link" href="#" ui-sref="home.profile">My Recipes ({{currentUser.recipes.length}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" ui-sref="home.favorites">My Favorites ({{currentUser.favorite_recipes.length}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" ui-sref="home.newRecipe">Create Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> </a>
      </li>
      <button class="btn" ng-click="logOut()">Log Out</button>
    </div>

    <div class="float-xs-right" ng-hide="isAuthenticated()">
			<button class="btn btn-link" ng-click="showlogin=true;showsignup=false">Login</button>
			<button class="btn btn-link" ng-click="showsignup=true;showlogin=false">Sign Up</button>
		</div>
  </ul>

  <div class="float-xs-right row" ng-hide="isAuthenticated()">
		
    <div ng-show="showlogin">
    	<form class="form-inline">
    	  <input class="form-control" ng-model="email" type="text" placeholder="Email">
    	  <input class="form-control" ng-model="password" type="password" placeholder="Password">
    	  <button class="btn btn-info" ng-click="login()" id="login">Login</button>
    	</form>
    </div>

    <div ng-show="showsignup">
    	<form class="form-inline">
    	  <input class="form-control" ng-model="username" type="text" placeholder="Username">
    	  <input class="form-control" ng-model="email" type="text" placeholder="Email">
    	  <input class="form-control" ng-model="password" type="password" placeholder="Password">
    	  <input class="form-control" ng-model="password_confirmation" type="password" placeholder="Password Confirmation">
    	  <button class="btn btn-info" ng-click="registerlogin()">Sign Up</button>
    	</form>
    </div>
  </div>
</nav>

<ui-view>
	<div ng-controller="RecipeController">
		<h2>Welcome!</h2>
<!-- 		<h4>Take a look at our top 10 recipes:</h4>

		<div class="card-columns">
			<div class="card card-block" ng-repeat="recipe in vm.recipes | filter: vm.search | orderBy: '-favorited_users' | limitTo: 10 ">
		    <a href="#" ui-sref="home.recipe({id: recipe.id})"><h4 class="card-title">{{ recipe.title }}</h4></a>
		    <p class="card-text">{{ recipe.category.name }}</p>
		    <p class="card-text">{{ recipe.description }}</p>
		    <p class="card-text"><small class="text-muted">Submitted by {{ recipe.author.username }}</small></p>
		    <p class="card-text"><small class="text-muted">Favorited by {{ recipe.favorited_users.length }} users</small></p>
		  </div>
		</div> -->
	</div>

</ui-view>