<!DOCTYPE html>
<html>
  <head>
    <title>WorldRecipes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag    'application' %>
  </head>

  <body ng-app="app">
    <div class="container">
    	<h1 class="logo">
				<a href="/">World Recipes</a>
			</h1>

			<div ng-include="'home/navbar.html'"></div>

    	<%= yield %>
   	</div>
  </body>
</html>
